<div>
  <button class="btn" (click)="navBack()">Back</button>

  <h1>{{post?.title}}</h1>

  <p>{{post?.text}}</p>

  <button class="btn btn-danger" (click)="postsService.loadPosts()">Load 4 post</button>
</div>

<div class="card" *ngFor="let post of postsService.posts">
  <h4>
    <a [routerLink]="['/post', post.id]">
      <strong>(ID {{post.id}})</strong>
      {{post.title}}
    </a>
  </h4>
</div>
