<h1>Posts page</h1>

<button class="btn">
  Show Ids
</button>
<button class="btn">
  Show Ids (program)
</button>

<div class="card" *ngFor="let post of postsService.posts">
  <h4>
    <a [routerLink]="['/post', post.id]">
      <strong>(ID {{post.id}})</strong>
      {{post.title}}
    </a>
  </h4>
</div>
